<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Add <%=mod_alias%><small><a href="<%=mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= _adminUrl%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=mod_alias%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <form class="form-horizontal" id="FormAdd" method="post">
                    <div class="box-body table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <tbody>
                            <% Object.keys(fields).forEach(function(field) { %>
                            <% if (field != '_id' && field != 'createdAt' && field != 'updatedAt' && field != 'role' && field != 'avatar' && field != 'password') { %>
                            <tr>
                                <td><label for="<%=field%>"><%=field%></label></td>
                                <td>
                                    <% if(fields[field] == 'Boolean'){ %>
                                        <% var field_value = helpers.admin.get_query_data(post_data,field); %>
                                        <select class="form-control small" id="<%= field%>" name="<%= field%>" required>
                                            <option value=""></option>
                                            <option <% if(field_value === 'true' || field_value === true){%> selected <%}%> value="true">Active</option>
                                            <option <% if(field_value === 'false' || field_value === false){%> selected <%}%> value="false">Disable</option>
                                        </select>
                                    <% }else if (role == 'admin' && field == 'branch'){ %>
                                        <input type="text" disabled class="form-control medium" value="<%= branch %>" />
                                    <% } else { %>
                                        <input type="text" class="form-control medium" value="<%=helpers.admin.get_query_data(post_data,field)%>" id="<%=field%>" name="<%=field%>"/>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                            <% }); %>
                            <tr>
                                <td><label for="role">role</label></td>
                                <td>
                                    <select class="form-control small" name="role" required>
                                        <option value=""></option>
                                        <% for(let i = 0; i<appConfig.role_systems.length; i++){ %>
                                            <% if(role == 'manager'){ %>
                                                <% if (appConfig.role_systems[i] == 'admin_booking' || appConfig.role_systems[i] == 'admin'){ %>
                                                    <option value="<%= appConfig.role_systems[i]%>" <% if(helpers.admin.get_query_data(post_data,'role') == appConfig.role_systems[i]){%> selected <%}%> > <%= appConfig.role_systems[i]%> </option>
                                                <% } %>
                                            <% } else if (role == 'admin') {%>
                                                <% if (appConfig.role_systems[i] == 'admin_booking'){ %>
                                                    <option value="<%= appConfig.role_systems[i]%>" <% if(helpers.admin.get_query_data(post_data,'role') == appConfig.role_systems[i]){%> selected <%}%> > <%= appConfig.role_systems[i]%> </option>
                                                <% } %>
                                            <% }else{%>
                                                <option value="<%= appConfig.role_systems[i]%>" <% if(helpers.admin.get_query_data(post_data,'role') == appConfig.role_systems[i]){%> selected <%}%> > <%= appConfig.role_systems[i]%> </option>
                                            <%}%>
                                        <%}%>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><label>Password</label></td>
                                <td>
                                    <input type="password" class="form-control medium" name="password" required/>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><button type="submit" class="btn btn-primary">Add <%=mod_alias%></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>