<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Edit <%=mod_alias%><small><a href="<%=mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= _adminUrl%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=title%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <form class="form-horizontal" id="FormEdit" method="post">
                        <input type="hidden" class="form-control medium" name="_id" value="<%= data_edit._id%>" />
                        <input type="hidden" class="form-control medium" name="username" value="<%= data_edit.username %>" />
                        <input type="hidden" class="form-control medium" name="avatar" value="<%= data_edit.avatar %>" />
                        <input type="hidden" class="form-control medium" name="restaurant" value="<%= data_edit.restaurant %>" />
                        <input type="hidden" class="form-control medium" name="branch" value="<%= data_edit.branch %>" />
                        <table class="table table-bordered dataTable">
                            <tbody>
                                <tr>
                                    <td><label for="Avatar">Avatar</label></td>
                                    <td>
                                        <img src="<%=staticUrl%><%- helpers.admin.get_query_data(data_edit,'avatar') %>" style="width: 200px;height: 200px">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="username">Username</label></td>
                                    <td>
                                        <input type="text" disabled class="form-control medium" value="<%= helpers.admin.get_query_data(data_edit,'username') %>" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="fullname">Fullname</label></td>
                                    <td>
                                        <input type="text" name="fullname" class="form-control medium" value="<%= helpers.admin.get_query_data(data_edit,'fullname') %>" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="branch">Branch</label></td>
                                    <td>
                                        <input type="text" disabled class="form-control medium" value="<%= helpers.admin.get_query_data(data_edit,'branch') %>" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="restaurant">Restaurant</label></td>
                                    <td>
                                        <input type="text" disabled class="form-control medium" value="<%= helpers.admin.get_query_data(data_edit,'restaurant') %>" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="role">Role</label></td>
                                    <td>
                                        <select class="form-control small" name="role" required>
                                            <option value=""></option>
                                            <% for(let i = 0; i<appConfig.role_systems.length; i++){ %>
                                                <% if(role == 'manager'){ %>
                                                    <% if (appConfig.role_systems[i] == 'admin_booking' || appConfig.role_systems[i] == 'admin'){ %>
                                                        <option value="<%= appConfig.role_systems[i]%>" <% if(helpers.admin.get_query_data(post_data,'role') == appConfig.role_systems[i]){%> selected <%}%> > <%= appConfig.role_systems[i]%> </option>
                                                    <% } %>
                                                <% } else if (role == 'admin') {%>
                                                    <% if (appConfig.role_systems[i] == 'admin_booking'){ %>
                                                        <option value="<%= appConfig.role_systems[i]%>" <% if(helpers.admin.get_query_data(post_data,'role') == appConfig.role_systems[i]){%> selected <%}%> > <%= appConfig.role_systems[i]%> </option>
                                                    <% } %>
                                                <% }else{%>
                                                    <option value="<%= appConfig.role_systems[i]%>" <% if(helpers.admin.get_query_data(post_data,'role') == appConfig.role_systems[i]){%> selected <%}%> > <%= appConfig.role_systems[i]%> </option>
                                                <%}%>
                                            <%}%>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="status">Status</label></td>
                                    <td>
                                        <select name="status" id="status" class="form-control small">
                                            <option value="0" <% if(data_edit.status == '0'){%> selected <%}%>>InActive</option>
                                            <option value="1" <% if(data_edit.status == '1'){%> selected <%}%>>Active</option>
                                        </select>
                                    </td>
                                </tr>
                                <!--
                                <tr>
                                    <td><label for="fullname"></label></td>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox_update_password" onchange="handleChange(this);" class="styled" type="checkbox" name="update_password" value="1">
                                            <label for="checkbox_update_password">Update password</label>
                                        </div>
                                        <input type="text" style="display: none" name="password" id="password" class="form-control medium" value="" />
                                    </td>
                                </tr>
                                -->
                                <tr>
                                    <td></td>
                                    <td><button type="submit" class="btn btn-info">Edit</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function handleChange(checkbox){
        if(checkbox.checked == true){
            document.getElementById("password").style.display = "block";
        }else{
            document.getElementById("password").style.display = "none";
        }
    }
</script>
