<% layout('../layout/default') %>

<!------ Include the above in your HEAD tag ---------->

<div class="page-banner-section section" style="background-image: url(<%=_staticUrl%>public/frontend/assets/img/banner/banner-7.jpg)">
  <div class="container">
      <div class="row">
          <div class="page-banner-content col">
            <h1>Bài viết</h1>
            <ul class="page-breadcrumb">
                <li><a href="/ezbooking">Home</a></li>
                <li><a>Bài viết</a></li>
            </ul>
          </div>
      </div>
  </div>
</div>

<section class="page-collection">
  <div class="container">
    <div class="page-collection-section">
      <div class="row">
        <% if(ez_blogdata){ %>
                <% ez_blogdata.forEach(function(blog){ %>
                    <% if(blog){ %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="ps-block__item">
                    <a href="<%=_baseUrl%>blogs/<%=blog._id%>"></a>
                    <img src="<%=_staticUrl%><%=blog.thumbnail %>" alt="" />
                    <p class="hiden__text_1"><%=blog.title%></p>
                    <div class="desc">
                        <p><%=blog.view%> lượt xem</p>
                    </div>
                  </div>
                </div>
              <% }; %>
                <% }); %>
            <% }; %>     
      </div>
      <div class="col-12 button_show-more" style="display: flex;justify-content: center;align-items: center;padding: 10px;background-color: #fff;">
          <button class="btn btn-info btn-submit" id="view-more">Xem thêm</button>
      </div>
    </div>
  </div>
</section>

<footer class="footer__default">
    <div class="container">
        <div class="ps-footer__widgets">
            <div class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Liên hệ</h4>
                <div class="widget_content">
                <p>Liên hệ với chúng tôi 24/7</p>
                <h3>0965100798</h3>
                <p>
                351 Phú Thọ Hòa, Tân Phú, tp HCM<br />
                <a href="#">contact@ezbooking.com</a>
                </p>
                <ul class="ps-list--social">
                <li>
                    <a class="facebook" href="#">
                    <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#">
                    <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="google-plus" href="#">
                    <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="#">
                    <i class="fa fa-instagram"></i>
                    </a>
                </li>
                </ul>
            </div>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Khám phá</h4>
                <ul class="ps-list--link">
                    
                    <li>
                    <a href="<%=_baseUrl%>collections">Bộ sưu tập</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs">Danh mục nhà hàng</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs">Nhà hàng mới</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs/hot">Nhà hàng nổi tiếng</a>
                    </li>
                </ul>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Công ty</h4>
                <ul class="ps-list--link">
                    <li>
                    <a href="#">Về chúng tôi</a>
                    </li>
                    <li>
                    <a href="#">Chính sách liên kết</a>
                    </li>
                    <li>
                    <a href="#">Chính sách sử dụng</a>
                    </li>
                    <li>
                    <a href="#">Chính sách đảm bảo</a>
                    </li>
                </ul>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Tiện ích</h4>
                <ul class="ps-list--link">
                    <li>
                    <a href="<%=_baseUrl%>blogs">Bài viết</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>register">Đăng ký</a>
                    </li>
                    <li>
                    <a href="#">Tài khoản</a>
                    </li>
                    <li>
                    <a href="#">Nhà hàng</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <p>CopyRight &copy; EzBooking</p>
        </div>
    </div>
  </footer>

  <style>
      .desc{
          overflow: hidden;
          white-space: nowrap; 
    text-overflow: ellipsis;
      }
  </style>

  <script>
    $(".ps-block__item").slice(0,8).show()
    $("#view-more").on("click", function(){
        $(".ps-block__item:hidden").slice(0,4).slideDown();
        if($(".ps-block__item:hidden").length == 0){
            $("#view-more").fadeOut('slow')
        }
    })
</script>