<% layout('../layout/default') %>

<!------ Include the above in your HEAD tag ---------->

<div class="ps-breadcrumb">
    <div class="container">
      <ul class="breadcrumb">
        <li>
            <a href="/ezbooking">
                Home
            </a>
        </li>
        <li>
            <a>
                Danh mục nhà hàng
            </a>
        </li>
      </ul>
    </div>
</div>

<section class="ps-store-list">
    <div class="container">
      <div class="ps-section__wrapper">
        <div class="ps-section__left">
          <aside class="widget widget--vendor">
            <h3 class="widget-title">Lọc theo danh mục</h3>
            <div class="form-group dropdown_select">
                <select onchange="event.preventDefault(); getQueryLink()" id = "category" class="form-control" data-placeholder="Sort Items">
                    <option value="">Danh mục</option>
                    <% if(ez_categorydata){ %>
                        <% ez_categorydata.forEach(function(item){ %>
                            <option <% if(category == item._id){%> selected <%}%> value="<%=item._id%>"><%=item.name%></option>
                        <% }); %>
                    <% } %>
                </select>
            </div>
            <div class="form-group dropdown_select">
                <select onchange="event.preventDefault(); getQueryLink()" id = "province" class="form-control" data-placeholder="Sort Items">
                    <option value="">Tỉnh/Thành phố</option>
                    <% if(ez_provincedata){ %>
                        <% ez_provincedata.forEach(function(item){ %>
                            <option <% if(province == item.province_id){%> selected <%}%> value="<%=item.province_id%>"><%=item.province_name%></option>
                        <% }); %>
                    <% } %>
                </select>
            </div>
            <div class="form-group dropdown_select">
                <select onchange="event.preventDefault(); getQueryLink()" id = "district" class="form-control" data-placeholder="Sort Items">
                    <option value="">Quận/Huyện</option>
                    <% if(ez_districtdata){ %>
                        <% ez_districtdata.forEach(function(item){ %>
                            <option <% if(district == item.district_id){%> selected <%}%> value="<%=item.district_id%>"><%=item.district_name%></option>
                        <% }); %>
                    <% } %>
                </select>
            </div>
          </aside>
        </div>
        <div class="ps-section__right">
            <div class="ps-block--vendor-filter">
                <div class="ps-block__left">
                    <ul class="nav nav-tabs" id="myTab">
                        
                        <li class="nav-item">
                            <a class="nav-link <% if(follows == false && hot == false){%> active <%}%>" id="new" href="<%=_baseUrl%>branchs">Mới nhất</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <% if(hot == true){%> active <%}%>" id="hot" href="<%=_baseUrl%>branchs/hot" >Nổi tiếng</a>
                        </li>
                        <% if(user_id){ %>
                            <li class="nav-item">
                                <a class="nav-link <% if(follows == true){%> active <%}%>" id="save-tab" href="<%=_baseUrl%>branchs/follows" >Đã lưu</a>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <div class="ps-shopping__content">
                        <div class="ps-shopping-product">
                            <div class="row">
                                <% if(ez_branchdata){ %>
                                    <% ez_branchdata.forEach(function(branch){ %>
                                        <% if(branch){ %>
                                            <% if(branch.status == true){ %>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="ps-product">
                                                    <div class="ps-product__thumbnail">
                                                        <a href="<%=_baseUrl%>branchs/<%=branch._id%>">
                                                            <img class="lazy img-fluid" src="<%=_staticUrl%><%=branch.thumbnail%>" alt="" />
                                                        </a>
                                                        <% if(branch.is_hot) {%>
                                                        <div class="ps-product__badge">hot</div>
                                                        <% }%>
                                                        </div>
                                                        <div class="ps-product__container">
                                                        <div class="ps-product__content">
                                                            <div class="ps-product__title">
                                                                <a href="<%=_baseUrl%>branchs/<%=branch._id%>">
                                                                    <p><%=branch.name%></p>
                                                                </a>
                                                            </div>
                                                            <div class="ps-product__rating">
                                                                <div >
                                                                    <% if(branch.rate === 0) {%>
                                                                    <span class="ps-rating">
                                                                        <i class="fa fa-star-o"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                    </span>
                                                                    <% } if(0 < branch.rate && branch.rate <= 1) {%>
                                                                    <span class="ps-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                    </span>
                                                                    <% } if(1 < branch.rate && branch.rate <= 2) {%>
                                                                    <span class="ps-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                    </span>
                                                                    <% } if(2 < branch.rate && branch.rate <= 3) {%>
                                                                    <span class="ps-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                    </span>
                                                                    <% } if(3 < branch.rate && branch.rate <= 4) {%>
                                                                    <span class="ps-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                    </span>
                                                                    <% } if(4 < branch.rate && branch.rate <= 5) {%>
                                                                    <span class="ps-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </span>
                                                                    <% }%>
                                                                </div>

                                                                    <% if (!user_id){ %>
                                                                        <i id ="follow" class="fa fa-heart-o"></i>
                                                                    <%} else{%>
                                                                        <% var follow; if(branch.is_follow) { follow = "fas fa-heart"} else follow = "far fa-heart" %>
                                                                        <i id ="follow" class="<%=follow%>"></i>
                                                                    <%}%>
                                                        
                                                            </div>
                                                            <p class="restaurants_address">
                                                            <%=branch.address%>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>
                                            <%}%>
                                        <% }; %>
                                    <% }); %>
                                <% }; %>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 button_show-more" style="display: flex;justify-content: center;align-items: center; margin-top:30px;">
                <button class="btn btn-info btn-submit" id="view-more">Xem thêm</button>
            </div>
        </div>
      </div>
    </div>
</section>

<footer class="footer__default">
    <div class="container">
        <div class="ps-footer__widgets">
            <div class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Liên hệ</h4>
                <div class="widget_content">
                <p>Liên hệ với chúng tôi 24/7</p>
                <h3>0965100798</h3>
                <p>
                351 Phú Thọ Hòa, Tân Phú, tp HCM<br />
                <a href="#">contact@ezbooking.com</a>
                </p>
                <ul class="ps-list--social">
                <li>
                    <a class="facebook" href="#">
                    <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#">
                    <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="google-plus" href="#">
                    <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="#">
                    <i class="fa fa-instagram"></i>
                    </a>
                </li>
                </ul>
            </div>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Khám phá</h4>
                <ul class="ps-list--link">
                    
                    <li>
                    <a href="<%=_baseUrl%>collections">Bộ sưu tập</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs">Danh mục nhà hàng</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs">Nhà hàng mới</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs/hot">Nhà hàng nổi tiếng</a>
                    </li>
                </ul>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Công ty</h4>
                <ul class="ps-list--link">
                    <li>
                    <a href="#">Về chúng tôi</a>
                    </li>
                    <li>
                    <a href="#">Chính sách liên kết</a>
                    </li>
                    <li>
                    <a href="#">Chính sách sử dụng</a>
                    </li>
                    <li>
                    <a href="#">Chính sách đảm bảo</a>
                    </li>
                </ul>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Tiện ích</h4>
                <ul class="ps-list--link">
                    <li>
                    <a href="<%=_baseUrl%>blogs">Bài viết</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>register">Đăng ký</a>
                    </li>
                    <li>
                    <a href="#">Tài khoản</a>
                    </li>
                    <li>
                    <a href="#">Nhà hàng</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <p>CopyRight &copy; EzBooking</p>
        </div>
    </div>
  </footer>

<style>
    .ps-shopping-product .ps-product{
        display:none;
    }
    #follow{
        cursor: pointer;
    }
</style>

<script>
    function getQueryLink(){
        var category = document.getElementById("category").value;
        var province = document.getElementById("province").value;
        var district = document.getElementById("district").value;
        var query_link = `${base_url}branchs?`;
        if (window.location.href.indexOf('hot') != -1){
            query_link = `${base_url}branchs/hot?`;
        }
        if (window.location.href.indexOf('follows') != -1){
            query_link = `${base_url}branchs/follows?`;
        }

        if(category){
            if(!province && !district){
                query_link += `category=${category}`;
            }
            else{
                query_link += `&category=${category}`
                console.log(query_link);
            }
        }
        if(province){
            if(!category){
                query_link += `province=${province}`;
            }
            else{
                query_link += `&province=${province}`;
            }
        }
        if(district){
            query_link += `&district=${district}`;
        } 

        window.location.href = query_link;
    }
</script>

<script>
    $(".ps-product").slice(0,6).show()
    $("#view-more").on("click", function(){
        $(".ps-product:hidden").slice(0,3).slideDown();
        if($(".ps-product:hidden").length == 0){
            $("#view-more").fadeOut('slow')
        }
    })
</script>

