<% layout('../layout/default') %>

<!------ Include the above in your HEAD tag ---------->

<div class="ps-breadcrumb">
    <div class="container">
      <ul class="breadcrumb">
        <li>
            <a href="/ezbooking">
                Home
            </a>
        </li>
        <li>
            <a>
                Danh mục nhà hàng
            </a>
        </li>
      </ul>
    </div>
  </div>

<section class="ps-store-list">
    <div class="container">
      <div class="ps-section__wrapper">
        <div class="ps-section__left">
          <aside class="widget widget--vendor">
            <h3 class="widget-title">Tìm kiếm</h3>
            <input class="form-control" type="text" placeholder="tìm kiếm..." />
          </aside>
          <aside class="widget widget--vendor">
            <h3 class="widget-title">Lọc theo danh mục</h3>
            <div class="form-group dropdown_select">
                <div class="form-control" id="selectField">
                    <p style="margin-bottom:0px;" id="selectText"><%=category.name%></p>
                    <div class="dropdown_select-right"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                </div>
                <ul class="dropdown_menu hide" id="list">
                    <% if(ez_categorydata){ %>
                        <a href="<%=_baseUrl%>branchs"><li class="dropdown__item">All</li></a>
                        <% ez_categorydata.forEach(function(item){ %>
                            <a href="<%=_baseUrl%>branchs/category/<%=item.name%>"><li class="dropdown__item"><%=item.name%></li></a>
                        <% }); %>
                    <% } %>
                </ul>
            </div>
            <div class="form-group dropdown_select">
                <select class="form-control" data-placeholder="Sort Items">
                    <option value="0">Thành phố</option>
                    <option value="1">Hồ Chí Minh</option>
                    <option value="2">Hà Nội</option>
                    <option value="3">Đà Nẵng</option>
                </select>
            </div>
            <div class="form-group dropdown_select">
                <div class="form-control" id="selectField2">
                    <p style="margin-bottom:0px;" id="selectText2">Quận/huyện</p>
                    <div class="dropdown_select-right"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                </div>
                <ul class="dropdown_menu hide" id="list2">
                    <a href=""><li class="dropdown__item2">Quận 1</li></a>
                    <a href=""><li class="dropdown__item2">Quận 2</li></a>
                    <a href=""><li class="dropdown__item2">Quận 3</li></a>
                    <a href=""><li class="dropdown__item2">Quận 4</li></a>
                </ul>
            </div>
          </aside>
        </div>
        <div class="ps-section__right">
            <div class="ps-block--vendor-filter">
                <div class="ps-block__left">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">Mới nhất</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#hot" role="tab" aria-controls="hot" aria-selected="false">Nổi tiếng</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#save" role="tab" aria-controls="save" aria-selected="false">Đã lưu</a>
                        </li>
                    </ul>
                </div>
                <div class="ps-block__right">
                    <select class="form-control" data-placeholder="Sort Items">
                        <option>Sắp xếp</option>
                        <option>Theo bảng chữ cái</option>
                        <option>Theo đánh giá</option>
                        <option>Giá từ thấp đến cao</option>
                        <option>Giá từ cao đến thấp</option>
                    </select>
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="home-tab">
                    <div class="ps-shopping__content">
                        <div class="ps-shopping-product">
                            <div class="row">
                                <% if(ez_branchdata){ %>
                                    <% ez_branchdata.forEach(function(branch){ %>
                                        <% if(branch){ %>
                                            <% if(branch.status == true){ %>
                                            <div class="col-md-4 col-sm-6 col-12">
                                                <div class="ps-product">
                                                    <div class="ps-product__thumbnail">
                                                        <a href="<%=_baseUrl%>branchs/<%=branch._id%>">
                                                            <img class="lazy img-fluid" src="<%=_staticUrl%><%=branch.thumbnail%>" alt="" />
                                                        </a>
                                                        <% if(branch.is_hot) {%>
                                                        <div class="ps-product__badge">hot</div>
                                                        <% }%>
                                                        </div>
                                                        <div class="ps-product__container">
                                                        <div class="ps-product__content">
                                                            <div class="ps-product__title">
                                                                <a href="<%=_baseUrl%>branchs/<%=branch._id%>">
                                                                    <%=branch.name%>
                                                                </a>
                                                            </div>
                                                            <div class="ps-product__rating">
                                                                <div >
                                                                    <span class="ps-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                    </span>
                                                                    <span>4.5</span>
                                                                </div>
                                                                <div >
                                                                    <% if (!user_id){ %>
                                                                        <i id ="follow" class="far fa-heart"></i>
                                                                    <%} else{%>
                                                                        <% if(branch.is_follow) {%>
                                                                            <i id ="follow" class="fas fa-heart"></i>
                                                                        <% } else {%>
                                                                            <i id ="follow" class="far fa-heart"></i>
                                                                        <% }%>
                                                                    <%}%>
                                                                </div>                                                          
                                                            </div>
                                                            <p class="restaurants_address">
                                                            <%=branch.address%>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>
                                            <%}%>
                                        <% }; %>
                                    <% }); %>
                                <% }; %>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="hot" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="ps-shopping__content">
                        <div class="ps-shopping-product">
                        <div class="row">
                            <% if(ez_branchdata){ %>
                                <% ez_branchdata.forEach(function(branch){ %>
                                    <% if(branch){ %>
                                        <% if(branch.status == true){ %>
                                        <div class="col-xl-4 col-md-6 col-12">
                                            <div class="ps-product">
                                                <div class="ps-product__thumbnail">
                                                    <a href="<%=_baseUrl%>branchs/<%=branch._id%>">
                                                        <img src="<%=_staticUrl%><%=branch.thumbnail%>" alt="" />
                                                    </a>
                                                    <div class="ps-product__badge">hot</div>
                                                    </div>
                                                    <div class="ps-product__container">
                                                    <div class="ps-product__content">
                                                        <div class="ps-product__title">
                                                            <a href="<%=_baseUrl%>branchs/<%=branch._id%>">
                                                                <%=branch.name%>
                                                            </a>
                                                        </div>
                                                        <div class="ps-product__rating">
                                                            <div >
                                                                <span class="ps-rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                </span>
                                                                <span>4.5</span>
                                                            </div>
                                                            <div >
                                                                <% if (!user_id){ %>
                                                                    <i id ="follow" class="far fa-heart"></i>
                                                                <%} else{%>
                                                                    <% if(branch.is_follow) {%>
                                                                        <i id ="follow" class="fas fa-heart"></i>
                                                                    <% } else {%>
                                                                        <i id ="follow" class="far fa-heart"></i>
                                                                    <% }%>
                                                                <%}%>
                                                            </div>                                                          
                                                        </div>
                                                        <p class="restaurants_address">
                                                        <%=branch.address%>
                                                        </p>
                                                    </div>
                                                </div>
                                                </div>
                                        </div>
                                        <%}%>
                                    <% }; %>
                                <% }); %>
                            <% }; %>           
                        </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="save" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="ps-shopping__content">
                        <div class="ps-shopping-product">
                        <div class="row">
                            <% if(ez_branchdata){ %>
                                <% ez_branchdata.forEach(function(branch){ %>
                                    <% if(branch){ %>
                                        <% if(branch.status == true){ %>
                                        <div class="col-xl-4 col-md-6 col-12">
                                            <div class="ps-product">
                                                <div class="ps-product__thumbnail">
                                                    <a href="<%=_baseUrl%>branchs/<%=branch._id%>">
                                                        <img src="<%=_staticUrl%><%=branch.thumbnail%>" alt="" />
                                                    </a>
                                                    <div class="ps-product__badge">hot</div>
                                                    </div>
                                                    <div class="ps-product__container">
                                                    <div class="ps-product__content">
                                                        <div class="ps-product__title">
                                                            <a href="<%=_baseUrl%>branchs/<%=branch._id%>">
                                                                <%=branch.name%>
                                                            </a>
                                                        </div>
                                                        
                                                        <div class="ps-product__rating">
                                                            <div >
                                                                <span class="ps-rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                </span>
                                                                <span>4.5</span>
                                                            </div>
                                                            <div >
                                                                <% if (!user_id){ %>
                                                                    <i id ="follow" class="far fa-heart"></i>
                                                                <%} else{%>
                                                                    <% if(branch.is_follow) {%>
                                                                        <i id ="follow" class="fas fa-heart"></i>
                                                                    <% } else {%>
                                                                        <i id ="follow" class="far fa-heart"></i>
                                                                    <% }%>
                                                                <%}%>
                                                            </div>                                                          
                                                        </div>
                                                        <p class="restaurants_address">
                                                            <%=branch.address%>
                                                        </p>
                                                    </div>
                                                </div>
                                                </div>
                                        </div>
                                        <%}%>
                                    <% }; %>
                                <% }); %>
                            <% }; %>           
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-12 button_show-more" style="display: flex;justify-content: center;align-items: center; margin-top:30px;">
                <button class="btn btn-info btn-submit" id="view-more">Xem thêm</button>
            </div>
        </div>
      </div>
    </div>
</section>

<footer class="footer__default">
    <div class="container">
        <div class="ps-footer__widgets">
            <div class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Liên hệ</h4>
                <div class="widget_content">
                <p>Liên hệ với chúng tôi 24/7</p>
                <h3>0965100798</h3>
                <p>
                351 Phú Thọ Hòa, Tân Phú, tp HCM<br />
                <a href="#">contact@ezbooking.com</a>
                </p>
                <ul class="ps-list--social">
                <li>
                    <a class="facebook" href="#">
                    <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#">
                    <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="google-plus" href="#">
                    <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="#">
                    <i class="fa fa-instagram"></i>
                    </a>
                </li>
                </ul>
            </div>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Khám phá</h4>
                <ul class="ps-list--link">
                    
                    <li>
                    <a href="<%=_baseUrl%>collections">Bộ sưu tập</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs">Danh mục nhà hàng</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs">Nhà hàng mới</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs/hot">Nhà hàng nổi tiếng</a>
                    </li>
                </ul>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Công ty</h4>
                <ul class="ps-list--link">
                    <li>
                    <a href="#">Về chúng tôi</a>
                    </li>
                    <li>
                    <a href="#">Chính sách liên kết</a>
                    </li>
                    <li>
                    <a href="#">Chính sách sử dụng</a>
                    </li>
                    <li>
                    <a href="#">Chính sách đảm bảo</a>
                    </li>
                </ul>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Tiện ích</h4>
                <ul class="ps-list--link">
                    <li>
                    <a href="<%=_baseUrl%>blogs">Bài viết</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>register">Đăng ký</a>
                    </li>
                    <li>
                    <a href="#">Tài khoản</a>
                    </li>
                    <li>
                    <a href="#">Nhà hàng</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <p>CopyRight &copy; EzBooking</p>
        </div>
    </div>
  </footer>

<style>
    .ps-shopping-product .ps-product{
        display:none;
    }
</style>

<script>
    // lấy về button
    var button = document.getElementById('follow');
    //gán sự kiện click 
    button.addEventListener("click", function(){
        //Lấy tất cả các class của button và chuyển thành chuỗi
        var allClass = this.classList.toString();
        // kiểm tra nếu chưa tồn tại class active thì thêm class active
        if (allClass.indexOf('active') == -1) {
            this.classList += ' active';
        }
        //Thêm hoặc xóa class fa-thumbs-down
        this.classList.toggle("far fa-heart");
    });

</script>

<script>
    $(".ps-product").slice(0,6).show()
    $("#view-more").on("click", function(){
        $(".ps-product:hidden").slice(0,3).slideDown();
        if($(".ps-product:hidden").length == 0){
            $("#view-more").fadeOut('slow')
        }
    })
</script>