<% layout('../layout/default') %>

<!------ Include the above in your HEAD tag ---------->
<div class="page-banner-section section" style="background-image: url(<%=_staticUrl%>public/frontend/assets/img/banner/banner-7.jpg)">
  <div class="container">
      <div class="row">
          <div class="page-banner-content col">
            <h1>BỘ SƯU TẬP</h1>
            <ul class="page-breadcrumb">
                <li><a href="/ezbooking">Home</a></li>
                <li><a href="<%=_baseUrl%>collections">Bộ sưu tập</a></li>
                <li>
                    <a>
                        <% if(collection){ %>
                            <% if(collection.status == true){ %>
                                <%=collection.name%>
                            <%}%>
                        <% }; %>
                    </a>
                </li>
            </ul>
          </div>
      </div>
  </div>
</div>
  
<section class="page-collection">
  <div class="container">
    <div class="storefront-sort">
      <div class="woocommerce-city">
        <select class="form-control" data-placeholder="Sort Items">
          <option>Thành phố</option>
          <option>Hồ Chí Minh</option>
          <option>Hà Nội</option>
          <option>Đà Nẵng</option>
        </select>
      </div>
      <div class="woocommerce-district">
        <select class="form-control" data-placeholder="Sort Items">
          <option>Quận/huyện</option>
          <option>Quận 1</option>
          <option>Quận 2</option>
          <option>Quận 3</option>
        </select>
      </div>
      <div class="woocommerce-sort">
        <select class="form-control" data-placeholder="Sort Items">
          <option>Sắp xếp</option>
          <option>Theo đánh giá</option>
          <option>Theo giá tăng dần</option>
          <option>Theo giá giảm dần</option>
        </select>
      </div>
    </div>
    <div class="ps-shopping__content">
        <div class="row">
            <% if(collection){ %>
                <% branch_list.forEach(function(branch){ %>
                    <% if(branch){ %>
                        <% if(branch.status == true){ %>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="ps-product">
                                    <div class="ps-product__thumbnail">
                                        <a href="<%=_baseUrl%>branchs/<%=branch._id%>">
                                            <img src="<%=_staticUrl%><%=branch.thumbnail%>" alt="" />
                                        </a>
                                        <div class="ps-product__badge">hot</div>
                                    </div>
                                    <div class="ps-product__container">
                                        <div class="ps-product__content">
                                            <div class="ps-product__title">
                                                <a href="<%=_baseUrl%>branchs/<%=branch._id%>">
                                                    <%=branch.name%>
                                                </a>
                                            </div>
                                            
                                            <div class="ps-product__rating">
                                                <div >
                                                    <span class="ps-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </span>
                                                    <span>4.5</span>
                                                </div>
                                                <div >
                                                    <% if (!user_id){ %>
                                                        <i id ="follow" class="far fa-heart"></i>
                                                    <%} else{%>
                                                        <% if(branch.is_follow) {%>
                                                            <i id ="follow" class="fas fa-heart"></i>
                                                        <% } else {%>
                                                            <i id ="follow" class="far fa-heart"></i>
                                                        <% }%>
                                                    <%}%>
                                                </div>                                                          
                                            </div>
                                            <p class="restaurants_address">
                                                <%=branch.address%>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    <% }; %>
                <% }); %>
            <% }; %>
        </div> 
    </div>
  </div>
</section>

<footer class="footer__default">
    <div class="container">
        <div class="ps-footer__widgets">
            <div class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Liên hệ</h4>
                <div class="widget_content">
                <p>Liên hệ với chúng tôi 24/7</p>
                <h3>0965100798</h3>
                <p>
                351 Phú Thọ Hòa, Tân Phú, tp HCM<br />
                <a href="#">contact@ezbooking.com</a>
                </p>
                <ul class="ps-list--social">
                <li>
                    <a class="facebook" href="#">
                    <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#">
                    <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="google-plus" href="#">
                    <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="#">
                    <i class="fa fa-instagram"></i>
                    </a>
                </li>
                </ul>
            </div>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Khám phá</h4>
                <ul class="ps-list--link">
                    
                    <li>
                    <a href="<%=_baseUrl%>collections">Bộ sưu tập</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs">Danh mục nhà hàng</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs">Nhà hàng mới</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>branchs/hot">Nhà hàng nổi tiếng</a>
                    </li>
                </ul>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Công ty</h4>
                <ul class="ps-list--link">
                    <li>
                    <a href="#">Về chúng tôi</a>
                    </li>
                    <li>
                    <a href="#">Chính sách liên kết</a>
                    </li>
                    <li>
                    <a href="#">Chính sách sử dụng</a>
                    </li>
                    <li>
                    <a href="#">Chính sách đảm bảo</a>
                    </li>
                </ul>
            </div>
            <div class="widget widget_footer">
                <h4 class="widget-title">Tiện ích</h4>
                <ul class="ps-list--link">
                    <li>
                    <a href="<%=_baseUrl%>blogs">Bài viết</a>
                    </li>
                    <li>
                    <a href="<%=_baseUrl%>register">Đăng ký</a>
                    </li>
                    <li>
                    <a href="#">Tài khoản</a>
                    </li>
                    <li>
                    <a href="#">Nhà hàng</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <p>CopyRight &copy; EzBooking</p>
        </div>
    </div>
  </footer>