<% layout('../layout/default') %>
<!------ Include the above in your HEAD tag ---------->
<div class="body__wrap">
<div class="banner">
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="<%=_staticUrl%>public\frontend\assets\img\banner\banner-2.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="<%=_staticUrl%>public\frontend\assets\img\banner\banner-4.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="<%=_staticUrl%>public\frontend\assets\img\banner\banner-7.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="<%=_staticUrl%>public\frontend\assets\img\banner\banner-9.jpg" alt="Second slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="ps-block--categories-box">
    <div class="container">
      <div class="block__wrap">
        <div class="ps-block__header">
          <h3><i class="fa fa-object-group" aria-hidden="true"></i> Bộ sưu tập</h3>
          <ul>
            <li class="block__link">
              <a href="<%=_baseUrl%>collections">
                Xem tất cả
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="ps-block__content">
          <div class="row">
            <% if(ez_collectiondata){ %>
              <% ez_collectiondata.forEach(function(item){ %>
                  <% if(item){ %>
                      <% if(item.status == true){ %>
                        <div class="col-lg-3 col-md-6 col-12">
                          <div class="ps-block__item">
                            <a class="ps-block__overlay"></a>
                            <a href="<%=_baseUrl%>collections/<%=item._id%>"></a>
                            <img src="<%=_staticUrl%><%=item.thumbnail %>" alt="" />
                            <p class="hiden__text_1"><%=item.name%></p>
                            <span><i class="fa fa-map-marker" aria-hidden="true"></i> <%=item.total_branchs%> địa điểm</span>
                          </div>
                        </div>
                      <%}%>
                    <% }; %>
                <% }); %>
            <% }; %>
          </div>           
        </div>
      </div>

    </div>
  </div>

<div class="ps-block--categories-box">  
    <div class="container">
      <div class="block__wrap">
        <div class="ps-block__header">
          <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Nhà hàng</h3>
          <ul>
            <li>
              <a href="<%=_baseUrl%>branchs">
                Xem tất cả <i class="fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="ps-block__content">
          <div class="row">
            <% if(ez_branchdata){ %>
              <% ez_branchdata.forEach(function(branch){ %>
                <% if(branch){ %>
                  <% if(branch.status == true){ %>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="ps-block__item ps-block__height">
                        <a href="<%=_baseUrl%>branchs/<%=branch._id%>"></a>
                        <img src="<%=_staticUrl%><%=branch.thumbnail %>" alt="" />
                        <p class="hiden__text_1"><%=branch.name%></p>
                        <p class="hiden__text"><i class="fa fa-map-marker" aria-hidden="true"></i> <%=branch.address%></p>
                        <div class="branchs_view">
                          <div class="branchs_view-left">
                            <div>
                              <i class="fa fa-comment-o" aria-hidden="true"></i>
                              <% if(branch.rate_total) {%>
                                <span><%=branch.rate_total%></span>
                              <% } else {%>
                                <span>0</span>
                              <% }%>
                            </div>
                            <div style="margin-left:10px">
                              <% if(branch.rate === 0) {%>
                              <span class="ps-rating">
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </span>
                              <% } if(0 < branch.rate && branch.rate <= 1) {%>
                              <span class="ps-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </span>
                              <% } if(1 < branch.rate && branch.rate <= 2) {%>
                              <span class="ps-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </span>
                              <% } if(2 < branch.rate && branch.rate <= 3) {%>
                              <span class="ps-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </span>
                              <% } if(3 < branch.rate && branch.rate <= 4) {%>
                              <span class="ps-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                              </span>
                              <% } if(4 < branch.rate && branch.rate <= 5) {%>
                              <span class="ps-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </span>
                              <% }%>
                            </div>
                          </div>
                          <div class="branchs_view-right">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div> 
                  <%}%>
                <% }; %>
              <% }); %>
            <% }; %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="ps-block--categories-box">
    <div class="container">
      <div class="block__wrap">
        <div class="ps-block__header">
          <h3><i class="fa fa-newspaper-o" aria-hidden="true"></i> Bài viết</h3>
          <ul>
            <li>
              <a href="<%=_baseUrl%>blogs">
                Xem tất cả <i class="fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="ps-block__content">
          <div class="row">
            <% if(ez_blogdata){ %>
              <% ez_blogdata.forEach(function(blog){ %>
                <% if(blog){ %>
                  <div class="col-lg-3 col-md-6 col-12">
                    <div class="ps-block__item ps-block__height-2">
                      <a class="ps-block__overlay"></a>
                      <a href="<%=_baseUrl%>blogs/<%=blog._id%>"></a>
                      <img src="<%=_staticUrl%><%=blog.thumbnail%>" alt="martfury" />
                      <p class="hiden__text_1"><%=blog.title%></p>
                      <div>
                        <span><%=blog.createdAt%></span>
                        <span>17h:00 - 100 views</span>
                      </div>
                    </div>
                  </div>
                <% }; %>
              <% }); %>
            <% }; %>
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer__default">
  <div class="container">
      <div class="ps-footer__widgets">
          <div class="widget widget_footer widget_contact-us">
              <h4 class="widget-title">Liên hệ</h4>
              <div class="widget_content">
              <p>Liên hệ với chúng tôi 24/7</p>
              <h3>0965100798</h3>
              <p>
              351 Phú Thọ Hòa, Tân Phú, tp HCM<br />
              <a href="#">contact@ezbooking.com</a>
              </p>
              <ul class="ps-list--social">
              <li>
                  <a class="facebook" href="#">
                  <i class="fa fa-facebook"></i>
                  </a>
              </li>
              <li>
                  <a class="twitter" href="#">
                  <i class="fa fa-twitter"></i>
                  </a>
              </li>
              <li>
                  <a class="google-plus" href="#">
                  <i class="fa fa-google-plus"></i>
                  </a>
              </li>
              <li>
                  <a class="instagram" href="#">
                  <i class="fa fa-instagram"></i>
                  </a>
              </li>
              </ul>
          </div>
          </div>
          <div class="widget widget_footer">
              <h4 class="widget-title">Khám phá</h4>
              <ul class="ps-list--link">
                  
                  <li>
                  <a href="<%=_baseUrl%>collections">Bộ sưu tập</a>
                  </li>
                  <li>
                  <a href="<%=_baseUrl%>branchs">Danh mục nhà hàng</a>
                  </li>
                  <li>
                  <a href="<%=_baseUrl%>branchs">Nhà hàng mới</a>
                  </li>
                  <li>
                  <a href="<%=_baseUrl%>branchs/hot">Nhà hàng nổi tiếng</a>
                  </li>
              </ul>
          </div>
          <div class="widget widget_footer">
              <h4 class="widget-title">Công ty</h4>
              <ul class="ps-list--link">
                  <li>
                  <a href="#">Về chúng tôi</a>
                  </li>
                  <li>
                  <a href="#">Chính sách liên kết</a>
                  </li>
                  <li>
                  <a href="#">Chính sách sử dụng</a>
                  </li>
                  <li>
                  <a href="#">Chính sách đảm bảo</a>
                  </li>
              </ul>
          </div>
          <div class="widget widget_footer">
              <h4 class="widget-title">Tiện ích</h4>
              <ul class="ps-list--link">
                  <li>
                  <a href="<%=_baseUrl%>blogs">Bài viết</a>
                  </li>
                  <li>
                  <a href="<%=_baseUrl%>register">Đăng ký</a>
                  </li>
                  <li>
                  <a href="#">Tài khoản</a>
                  </li>
                  <li>
                  <a href="#">Nhà hàng</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="footer__copyright">
          <p>CopyRight &copy; EzBooking</p>
      </div>
  </div>
</footer>

  <style>
    .banner{
      margin:50px 0;
      width: 100%;
    }
  </style>