<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Add <%=mod_alias%><small><a href="<%= mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= mod_url%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=mod_alias%></li>
    </ol>
</section>
<style>
    .area_data .input-form{
        max-width: 25%;
    }
</style>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-lg-7">
            <div class="box">
                <form class="form-horizontal" id="FormAdd" method="post">
                    <div class="box-body table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <tbody>
                            <% Object.keys(fields).forEach(function(field) { %>
                            <% if (field != '_id' && field != 'createdAt' && field != 'updatedAt' && field != 'update_by') { %>
                            <tr>
                                <td><label for="<%=field%>"><%=field%></label></td>
                                <td>
                                    <% var field_value = helpers.admin.get_query_data(post_data,field); %>
                                    <% if(fields[field] == 'Boolean'){ %>
                                    <select class="form-control small" id="<%= field%>" name="<%= field%>">
                                        <option value=""></option>
                                        <option <% if(field_value === 'true' || field_value === true){%> selected <%}%> value="true">Active</option>
                                        <option <% if(field_value === 'false' || field_value === false){%> selected <%}%> value="false">Disable</option>
                                    </select>
                                    <% } else{ %>
                                        <% if(field == 'collection_name'){ %>
                                            <select class="form-control small" id="<%= field%>" name="<%= field%>">
                                                <% collection_list.forEach(function(item){ %>
                                                    <option selected  value="<%= item.name%>"><%= item.name%></option>
                                                <% }); %>
                                            </select>
                                        <% } else { %>
                                            <% if(field == 'category'){ %>
                                                <select class="form-control small" id="<%= field%>" name="<%= field%>">
                                                    <% category_list.forEach(function(item){ %>
                                                        <option selected  value="<%= item._id%>"><%= item.name%></option>
                                                    <% }); %>
                                                </select>
                                            <% } else if(field == 'province') {%>
                                                <select class="form-control small" id="<%= field%>" name="<%= field%>">
                                                    <% province_list.forEach(function(item){ %>
                                                        <option selected  value="<%= item.province_id%>"><%= item.province_name%></option>
                                                    <% }); %>
                                                </select>
                                            <% } else if(field == 'district') {%>
                                                <select class="form-control small" id="<%= field%>" name="<%= field%>">
                                                    <% district_list.forEach(function(item){ %>
                                                        <option selected  value="<%= item.district_id%>"><%= item.district_name%></option>
                                                    <% }); %>
                                                </select>
                                            <% } else if (field == 'thumbnail'){ %>
                                                <div class="upload-large">
                                                    <img src="" id="preview" style="width: 200px;height: 200px; display: none">
                                                    <input type="hidden" id="thumbnail" name="thumbnail" value="">
                                                    <div class="inputfile-container" style="margin-top: 3px">
                                                        <input class="inputfile" type="file" id="upload-1">
                                                        <label for="upload-1"></label>
                                                    </div>
                                                </div>
                                            <% } else { %>
                                            <input type="text" class="form-control medium" value="<%=field_value%>" id="<%=field%>" name="<%=field%>"/>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                            <% }); %>
                            <tr>
                                <td></td>
                                <td><button type="submit" class="btn btn-primary">Add <%=mod_alias%></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function () {
        var uploads = document.querySelectorAll('input[type=file]');
        for (var i = 0; i < uploads.length; i++) {
            uploads[i].addEventListener('change', function (e) {
                var files = e.target.files;
                var file_data = files[0];

                e.target.value = '';
                if(file_data.type != 'image/jpeg' && file_data.type != 'image/png'){
                    Admin.loading_show('Only accept png or jpeg',1);return false;
                }

                //8MB
                if(file_data.size > 8000000){
                    Admin.loading_show('File maximum 12M',1);return false;
                }

                var reader = new FileReader();
                reader.readAsDataURL(file_data);
                reader.onload = function (el) {
                    var image = document.getElementById('preview');
                    image.src = reader.result;
                    var thumbnail = document.getElementById('thumbnail');
                    thumbnail.value = image.src;
                    $('#preview').show();
                };
            });
        }
    });

</script>

<script>
    $(document).on('change', '#district', function () {
        var district = $('#district').val();
    });
    $(document).on('change', '#province', function () {
        var province = $('#province').val();
        ajax_get_districts(province);
        ajax_get_wards('');
    });

    function ajax_get_districts(province) {
        var data_post = {
            _csrf: tok_value,
            province: province,
        };
        $.ajax({
            type: 'POST',
            url: base_url + 'service/get_districts',
            data: data_post,
            dataType: 'json',
            success: function (response) {
                if (response && response.error === 0) {
                    var html = '<option value="" disabled selected>Quận / Huyện</option>';
                    response.data.forEach(function (district) {
                        html += '<option value="' + district + '">' + district + '</option>';
                    });
                    $('#district').html(html);
                }
            },
            error: function () {
                location.reload();
            },
        });
    }

</script>