<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Add <%=mod_alias%><small><a href="<%=mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= _adminUrl%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=mod_alias%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <form class="form-horizontal" id="FormAdd" method="post">
                    <div class="box-body table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <tbody>
                            <% field_keys.forEach(function(field) { %>
                            <% if (field.name != '_id' && field.name != 'createdAt' && field.name != 'updatedAt' && field.name != 'update_by') { %>
                            <tr>
                                <td><label for="<%=field.name%>"><%=field.name%></label></td>
                                <td>
                                    <% if(field.type == 'Boolean'){ %>
                                        <select class="form-control small" name="<%= field.name%>">
                                            <option value=""></option>
                                            <option <% if(helpers.admin.get_query_data(post_data,field.name) == 'true'){%> selected <%}%> value="true">true</option>
                                            <option <% if(helpers.admin.get_query_data(post_data,field.name) == 'false'){%> selected <%}%> value="false">false</option>
                                        </select>
                                    <% }else{ %>
                                        <input type="text" class="form-control medium" value="<%=helpers.admin.get_query_data(post_data,field.name)%>" id="<%=field.name%>" name="<%=field.name%>"/>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                            <% }); %>
                            <tr>
                                <td></td>
                                <td>
                                    <a>
                                        <button type="submit" class="btn btn-primary">Add <%=mod_alias%></button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
