<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->

<div class="clearfix"></div>
<section class="content-header">

</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">List key cache redis</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Key</th>
                        <th>Clean</th>
                        <th>Value</th>
                    </tr>
                    <% if(list_keys && list_keys.length > 0){%>
                    <% list_keys.forEach((item, index) =>{%>
                    <tr>
                        <td><%=index%></td>
                        <td><%=item%></td>
                        <td><a target="_blank" href="<%= _baseUrl%>admin/settings/list-key-clear?key=<%=item%>"><span class="label label-danger">Clear cache</span></a> </td>
                        <td><a target="_blank" href="<%= _baseUrl%>admin/settings/list-key-value?key=<%=item%>"><span class="label label-success">Get Value</span></a></td>
                    </tr>
                    <% })%>
                    <% }%>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</section>
