<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Add <%=mod_alias%><small><a href="<%=mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= _adminUrl%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=mod_alias%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <form class="form-horizontal" id="FormAdd" method="post">
                    <div class="box-body table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <tbody>
                                <tr>
                                    <td><label>Role</label></td>
                                    <td>
                                        <select class="form-control medium" name="role">
                                            <option value=""></option>
                                            <% for(let i = 0; i<appConfig.role_systems.length; i++){ %>
                                                <option value="<%= appConfig.role_systems[i]%>" <% if(helpers.admin.get_query_data(post_data,'role') == appConfig.role_systems[i]){%> selected <%}%> > <%= appConfig.role_systems[i]%> </option>
                                            <%}%>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>module</label></td>
                                    <td>
                                        <select class="form-control medium" name="module">
                                            <option value=""></option>
                                            <% for(let i = 0; i<modules_list.length; i++){ %>
                                            <option value="<%=modules_list[i].name%>" <% if(helpers.admin.get_query_data(post_data,'module') == modules_list[i].name){%> selected <%}%> ><%=modules_list[i].name%></option>
                                            <%}%>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Resource</label></td>
                                    <td>
                                        <select class="form-control medium" name="resource">
                                            <option value=""></option>
                                            <% for(let i = 0; i<resources_list.length; i++){ %>
                                                <option value="<%=resources_list[i].name%>" <% if(helpers.admin.get_query_data(post_data,'resource') == resources_list[i].name){%> selected <%}%> ><%= resources_list[i].module%> - <%=resources_list[i].name%></option>
                                            <%}%>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Permissions</label></td>
                                    <td>
                                        <% var permissions = helpers.admin.get_query_data(post_data,'permissions');%>
                                        <% for(let i = 0; i<appConfig.perm_default.length; i++){ %>
                                            <div class="checkbox">
                                                <input id="checkbox_<%=i%>" <% if(permissions && permissions.indexOf(appConfig.perm_default[i]) != -1){ %>checked<% } %> class="styled" type="checkbox" name="permissions" value="<%=appConfig.perm_default[i]%>">
                                                <label for="checkbox_<%=i%>"><%=appConfig.perm_default[i]%></label>
                                            </div>
                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a>
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
