<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1><%=title%><small><a href="<%=mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= _adminUrl%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=title%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <form class="form-horizontal" id="FormAdd" method="post">
                        <div class="box-body table-responsive">
                            <input type="hidden" class="form-control small" name="_id" value="<%= data_edit._id%>"/>
                            <table class="table table-striped table-bordered table-hover dataTable">
                                <tbody>
                                <tr>
                                    <td><label>Role</label></td>
                                    <td>
                                        <select class="form-control medium" name="role" disabled>
                                            <option value=""></option>
                                            <% for(let i = 0; i<appConfig.role_systems.length; i++){ %>
                                            <option value="<%= appConfig.role_systems[i]%>" <% if(helpers.admin.get_query_data(data_edit,'role') == appConfig.role_systems[i]){%> selected <%}%> > <%= appConfig.role_systems[i]%> </option>
                                            <%}%>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>module</label></td>
                                    <td>
                                        <select class="form-control medium" name="module" disabled>
                                            <option value=""></option>
                                            <% for(let i = 0; i<modules_list.length; i++){ %>
                                            <option value="<%=modules_list[i].name%>" <% if(helpers.admin.get_query_data(data_edit,'module') == modules_list[i].name){%> selected <%}%> ><%=modules_list[i].name%></option>
                                            <%}%>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Resource</label></td>
                                    <td>
                                        <select class="form-control medium" name="resource" disabled>
                                            <option value=""></option>
                                            <% for(let i = 0; i<resources_list.length; i++){ %>
                                            <option value="<%=resources_list[i].name%>" <% if(helpers.admin.get_query_data(data_edit,'resource') == resources_list[i].name){%> selected <%}%> ><%= resources_list[i].module%> - <%=resources_list[i].name%></option>
                                            <%}%>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Permissions</label></td>
                                    <td>
                                        <% var permissions = helpers.admin.get_query_data(data_edit,'permissions');%>
                                        <% for(let i = 0; i<permission_resources.length; i++){ %>
                                        <div class="checkbox">
                                            <input id="checkbox_<%=i%>" <% if(permissions.indexOf(permission_resources[i]) != -1){ %>checked<% } %> class="styled" type="checkbox" name="permissions" value="<%=permission_resources[i]%>">
                                            <label for="checkbox_<%=i%>"><%=permission_resources[i]%></label>
                                        </div>
                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a>
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
