<% layout('../../layout/admin'); %>

<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>List <%= mod_alias%><small><a href="<%=mod_url%>/"><i class="fa fa-refresh"></i></a></small>
    </h1>
    <ol class="breadcrumb pull-right">
        <li><a href="<%=_adminUrl%>"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><%= mod_alias%></li>
    </ol>
</section>
<div class="clearfix"></div>

<section class="content-header">
    <form class="form-inline" id="frmFilter" onsubmit="Admin.filterForm(this);">
        <div class="form-group">
            Role
            <select class="form-control" name="role" onchange="$('#frmFilter').submit();">
                <option value=""></option>
                <% for(let i = 0; i<appConfig.role_systems.length; i++){ %>
                <option <% if(helpers.admin.get_query_data(query_get,'role') == appConfig.role_systems[i]){ %>selected<% } %>  value="<%=appConfig.role_systems[i]%>"><%=appConfig.role_systems[i]%></option>
                <% } %>
            </select>
            Module
            <select class="form-control" name="module" onchange="$('#frmFilter').submit();">
                <option value=""></option>
                <% for(let i = 0; i<modules_list.length; i++){ %>
                <option <% if(helpers.admin.get_query_data(query_get,'module') == modules_list[i].name){ %>selected<% } %>  value="<%=modules_list[i].name%>"><%=modules_list[i].name%></option>
                <% } %>
            </select>
            Resource
            <select class="form-control" name="resource" onchange="$('#frmFilter').submit();">
                <option value=""></option>
                <% for(let i = 0; i<resources_list.length; i++){ %>
                <option <% if(helpers.admin.get_query_data(query_get,'resource') == resources_list[i].name){ %>selected<% } %>  value="<%=resources_list[i].name%>"><%=resources_list[i].name%></option>
                <% } %>
            </select>
        </div>
        <div class="right pull-right">
            <% if(helpers.admin.checkPerm('add',admin_userdata)){ %>
            <a href="<%=mod_url%>/add">
                <button type="button" class="btn btn-info">Add</button>
            </a>
            <%}%>

            <% if(helpers.admin.checkPerm('delete',admin_userdata)){ %>
            <button type="button" class="btn btn-info JsDeleteItem">Delete</button>
            <%}%>

            <% if(helpers.admin.checkPerm('export',admin_userdata)){ %>
            <a data-export="<%= mod_url%>/export?<%=query_string%>" data-total="<%= total_record%>" role="button" onclick="Admin.export_data(this);">
                <button type="button" class="btn btn-info">Export</button>
            </a>
            <%}%>

            <% if(helpers.admin.checkPerm('edit',admin_userdata)){ %>
                <button type="button" data-update="<%=mod_url%>/update" class="btn btn-info JsUpdateItem">Update</button>
            <%}%>
        </div>
    </form>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form action="<%=mod_url%>/delete" class="JsUpdateForm JsDeleteForm" method="post">
                    <div class="box-header">
                        <h3 class="box-title">Total: <%= total_record%> records</h3>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="col_checkbox">
                                        <div class="checkbox">
                                            <input id="checkbox_all" class="styled" type="checkbox">
                                            <label for="checkbox_all"></label>
                                        </div>
                                    </th>
                                    <% Object.keys(fields).forEach(function(field){ %>
                                        <% let field_type = fields[field]; %>
                                        <th class="sorting">
                                            <a class="sort"><%= field%></a>
                                            <div class="filter_sort">
                                                <a href="javascript:void(0);" data-filter="filter_<%= field%>" data-toggle="hide" class="filter"><i class="fa fa-filter"></i></a>
                                            </div>
                                            <br>
                                            <div class="wrapper_filter">
                                                <% if(field_type == 'Boolean'){ %>
                                                <select onchange="Admin.filter_submit();" class="form-control filter_field hide filter_<%= field%>" name="<%= field%>" style="height: 24px;padding: 1px 5px;">
                                                    <option value=""></option>
                                                    <option <% if(helpers.admin.get_query_data(query_get,field) == 'true'){%> selected <%}%> value="true">Active</option>
                                                    <option <% if(helpers.admin.get_query_data(query_get,field) == 'false'){%> selected <%}%> value="false">Disable</option>
                                                </select>
                                                <% }else{ %>
                                                <input class="filter_field hide filter_<%= field%> <% if (field_type == 'Date') { %>datepicker<%}%>" name="<%= field%>" type="text" value="<%=helpers.admin.get_query_data(query_get,field)%>">
                                                <% } %>
                                            </div>
                                        </th>
                                    <% }); %>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% if (lists.length > 0) { %>
                                <% lists.forEach(function(row) { %>
                                    <tr>
                                        <td class="col_checkbox">
                                            <div class="checkbox">
                                                <input id="checkbox<%= row._id%>" class="styled" type="checkbox" name="listViewId" value="<%= row._id%>">
                                                <label for="checkbox<%= row._id%>"></label>
                                            </div>
                                        </td>

                                        <% Object.keys(fields).forEach(function(field){ %>
                                        <td>
                                            <% if(field === 'permissions'){ %>
                                                <% for(let j = 0; j<row[field].length; j++){ %>
                                                <div class="checkbox" style="display: inline;margin-right: 30px">
                                                    <input id="checkbox_<%=row._id%>_<%=j%>" checked class="styled" type="checkbox" name="<%=row._id%>" value="<%=row[field][j]%>">
                                                    <label for="checkbox_<%=row._id%>_<%=j%>"><%=row[field][j]%></label>
                                                </div>
                                                <% } %>
                                            <% }else{%>
                                                <%= helpers.admin.get_field_value(field,row[field],fields[field])%>
                                            <% } %>
                                        </td>
                                        <% }); %>

                                        <% if(helpers.admin.checkPerm('edit',admin_userdata)){ %>
                                        <td>
                                            <a title="edit" href="<%=mod_url%>/edit/<%= row._id%>" class="btn action">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <%}%>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="<%= Object.keys(fields).length + 10 %>">No data.</td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <ul class="pagination pull-right">
                            <%- output_paging%>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
