<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Add <%=mod_alias%><small><a href="<%= mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= mod_url%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=mod_alias%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <form class="form-horizontal" id="FormAdd" method="post">
                    <div class="box-body table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <tbody>
                            <% Object.keys(fields).forEach(function(field) { %>
                            <% if (field != '_id' && field != 'createdAt' && field != 'updatedAt' && field != 'update_by') { %>
                            <tr>
                                <td><label for="<%=field%>"><%=field%></label></td>
                                <td>
                                    <% var field_value = helpers.admin.get_query_data(post_data,field); %>
                                    <% if(fields[field] == 'Boolean'){ %>
                                    <select class="form-control small" id="<%= field%>" name="<%= field%>">
                                        <option value=""></option>
                                        <option <% if(field_value === 'true' || field_value === true){%> selected <%}%> value="true">Active</option>
                                        <option <% if(field_value === 'false' || field_value === false){%> selected <%}%> value="false">Disable</option>
                                    </select>
                                    <% }else{ %>
                                        <% if (field == 'content') { %>
                                            <div id="toolbar"></div>
                                            <div id="editor"></div>
                                        <% }else if (field == 'thumbnail'){ %>
                                            <div class="upload-large">
                                                <img src="" id="preview" style="width: 200px;height: 200px; display: none">
                                                <input type="hidden" id="thumbnail" name="thumbnail" value="">
                                                <div class="inputfile-container" style="margin-top: 3px">
                                                    <input class="inputfile" type="file" id="upload-1">
                                                    <label for="upload-1"></label>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <input type="text" class="form-control medium" value="<%=field_value%>" id="<%=field%>" name="<%=field%>"/>
                                        <% } %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                            <% }); %>
                            <tr>
                                <td></td>
                                <td><button id="savetext" type="submit" class="btn btn-primary">Add <%=mod_alias%></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function () {
        var uploads = document.querySelectorAll('input[type=file]');
        for (var i = 0; i < uploads.length; i++) {
            uploads[i].addEventListener('change', function (e) {
                var files = e.target.files;
                var file_data = files[0];

                e.target.value = '';
                if(file_data.type != 'image/jpeg' && file_data.type != 'image/png'){
                    Admin.loading_show('Only accept png or jpeg',1);return false;
                }

                //8MB
                if(file_data.size > 8000000){
                    Admin.loading_show('File maximum 12M',1);return false;
                }

                var reader = new FileReader();
                reader.readAsDataURL(file_data);
                reader.onload = function (el) {
                    var image = document.getElementById('preview');
                    image.src = reader.result;
                    var thumbnail = document.getElementById('thumbnail');
                    thumbnail.value = image.src;
                    $('#preview').show();
                };
            });
        }
    });

</script>

<script>
    var toolbarOptions = [
        ['bold','italic','underline', 'strike'],
        ['blockquote','code-block'],
        [
            {'header' : [1,2,3,4,5,false]}
        ],
        [
            {'list' : 'ordered'},
            {'list' : 'bullet'},
            { 'indent': '-1' },
            { 'indent': '+1' }
        ],
        [
            {'script' : 'sub'},
            { 'script': 'super' }
        ],
        [
            {'direction' : 'rtl'}
        ],
        [
            {'size':['small',false,'large','huge']}
        ],
        [
            'link','image','video','formula'
        ],
        [
            {'color': []},
            {'background' : []}
        ],
        [
            {'font':[]}
        ],
        [
            { 'align': [] }
        ]
    ]
    var options = {
        debug: 'info',
        modules: {
            toolbar: toolbarOptions
        },
        placeholder: 'Nhập nội dung bài viết ...',
        readOnly: false,
        theme: 'snow'
    };
    var editor = new Quill('#editor', options);
    $('#savetext').click(function(){
        const form = document.getElementById("FormAdd");
        const content = document.createElement("input");
        content.setAttribute("type", "text");
        content.setAttribute("name", "content");
        content.setAttribute("id", "content");
        const pos = form.childElementCount;
        form.insertBefore(content, form.childNodes[pos])
        const txt = document.getElementsByClassName("ql-editor")[0].outerHTML
        content.value = txt.slice(111,txt.length - 6)
        // var delta = editor.getContents();
        // console.log(delta);
    })
</script>
