<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Edit table_plan<small><a href="<%= mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= mod_url%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=title%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <form class="form-horizontal" id="FormAdd" method="post">
                    <div class="box-body table-responsive">
                        <input type="hidden" class="form-control small" name="_id" value="<%= data_edit._id%>"/>
                        <input type="hidden" class="form-control small" name="branch_id" value="<%= data_edit.branch_id%>"/>
                        <table class="table table-striped table-bordered table-hover dataTable">
                            *Chú ý: Nhập số chỗ trong các loại 2, 4, 6       
                            
                            <tbody>
                                <% for(var i = -1; i < floor.height; i++){ %>
                                    <% if(i==-1){%>
                                        <tr style=" border: 1px solid #ddd;">
                                            <th style="text-align: center;">Hàng\Cột</th>
                                        
                                        <% for(var j = 0; j < floor.width; j++){ %>
                                            <th style="text-align: center; border: 1px solid #ddd;"><%=j%></th>
                                        <% } %>
                                        </tr>
                                    <% } else {%> 
                                    <tr style=" border: 1px solid #ddd;">
                                        <th style="text-align: center;"><%=i%></th>
                                      <% for(var j = 0; j < floor.width; j++){ %>
                                        <td style=" border: 1px solid #ddd;">
                                          <% if(table_plan && table_plan.some((table) => { return table.position_x == i && table.position_y == j })) { %>
                                            <label for="table_list">Số chỗ</label>
                                            <input type="number" name ="table_list" class = "table_list" value="<%= table_plan.find((table) => table.position_x == i && table.position_y == j).slot %>">
                                            <br>
                                            <label for="status_list">Trạng thái</label>
                                            <input type="number" min="0" max="1" name ="status_list" class = "status_list" value="<%= table_plan.find((table) => table.position_x == i && table.position_y == j).status %>">
                                        <% } else { %>
                                            <label for="table_list">Số chỗ</label>
                                            <input type="number" name ="table_list" class = "table_list" value= "0"><br>
                                            <label for="status_list">Trạng thái</label>
                                            <input type="number" min="0" max="1" name ="status_list" class = "status_list" value= "0">
                                          <% } %>
                                        </td>
                                      <% } %>
                                      <% } %>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <div style="display:flex;justify-content: center;align-items: center;margin-top: 20px;">
                            <button type="submit" class="btn btn-primary">Edit setting</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
