<% layout('../../layout/admin'); %>

<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Export <%=mod_alias%><small><a href="<%= mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= mod_url%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=mod_alias%></li>
    </ol>
</section>

<section class="content-header">
    <div class="form-group form-inline">
    </div>
</section>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <form method="post" id="frmExport">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <tbody>
                        <tr>
                            <td><label>Column</label></td>
                            <td>
                                <div class="form-group form-inline">
                                <% field_keys.forEach(function(field,i){%>
                                <% var fields_type = fields[field]; %>
                                <div class="checkbox">
                                    <input onchange="handleCheckbox(this);" id="checkbox_<%=field%>" checked class="styled sl-column" type="checkbox" data-type="<%=fields_type%>" value="<%=field%>">
                                    <label for="checkbox_<%=field%>"><%=field%></label>
                                </div>
                                <%});%>
                            </div>
                            </td>
                        </tr>
                        <% field_keys.forEach(function(field,k){%>
                        <% var fields_type = fields[field]; %>
                        <tr class="row-<%=field%>" data="<%=fields_type%>">
                            <td><label for="file"><%=field%></label></td>
                            <td>
                                <% if(fields_type == 'Date'){ %>
                                <div class="form-group form-inline">
                                    <input type="hidden" name="<%=field%>">
                                    <input type="text" name="<%=field%>_from"  value="" class="form-control small datepicker" placeholder="From">
                                    <input type="text" name="<%=field%>_to"  value="" class="form-control small datepicker" placeholder="To">
                                </div>
                                <%}else if(fields_type == 'Boolean'){%>
                                    <select class="form-control small" id="<%= field%>" name="<%= field%>">
                                        <option value=""></option>
                                        <option value="true">Active</option>
                                        <option value="false">Disable</option>
                                    </select>
                                <%}else if(fields_type == 'Number'){%>
                                    <input type="number" class="form-control small" value="" name="<%=field%>"/>
                                <%}else{%>
                                    <div class="form-group form-inline">
                                        <select class="form-control minimum" name="<%=field%>_query_type">
                                            <option></option>
                                            <option>equal</option>
                                            <option>like</option>
                                        </select>
                                        <input type="text" class="form-control small" value="" name="<%=field%>"/>
                                    </div>
                                <%}%>
                            </td>
                        </tr>
                        <%});%>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" onclick="handleExport(this);" class="btn btn-primary" data-export="<%= mod_url%>/export">Export</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function handleExport(btn){
        var data = {};
        $('.sl-column').each(function(k,el){
            if(el.checked){
                var field = el.value;
                var field_type = $(el).data('type');
                if(field_type == 'Date'){
                    var from_date = $('.row-'+field).find('input[name="'+field+'_from"]').val();
                    var to_date = $('.row-'+field).find('input[name="'+field+'_to"]').val();
                    data[field] = {type:field_type,from:from_date,to:to_date};
                }else if(field_type == 'Boolean'){
                    var value = $('.row-'+field).find('select[name="'+field+'"]').val();
                    data[field] = {type:field_type,value:value};
                }else if(field_type == 'String'){
                    var query_type = $('.row-'+field).find('select[name="'+field+'_query_type"]').val();
                    var value = $('.row-'+field).find('input[name="'+field+'"]').val();
                    data[field] = {type:field_type,search:query_type,value:value};
                }else{
                    var value = $('.row-'+field).find('input[name="'+field+'"]').val();
                    data[field] = {type:field_type,value:value};
                }
            }
        });
        var data_post = {
            _csrf : token_value,
            data  :  JSON.stringify(data)
        };

        var url = $(btn).data('export');
        Admin.loading_show('Loading');
        $.ajax({
            url: url,
            type: 'POST',
            data: data_post,
            success: function(res) {
                Admin.loading_hide();
                if(res.status == 'success'){
                    Admin.downloadFile(res.path);
                }else{
                    Admin.loading_show(res.msg,true);
                }
            },
            error: function(e) {
                console.log(e);
            }
        });
    }

    function handleCheckbox(el){
        var val = el.value;
        if(el.checked){
            $('.row-'+val).show();
        }else{
            $('.row-'+val).hide();
        }
    }

</script>
