<% layout('../../layout/admin'); %>

<script src="<%=publicUrl%>admin/js/resumable.js"></script>
<script src="<%=publicUrl%>admin/js/upload_file.js?v=1"></script>

<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Import <%=mod_alias%><small><a href="<%= mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= mod_url%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=mod_alias%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <tbody>
                            <% Object.keys(fields).forEach(function(field) { %>
                                <% if (field != '_id' && field != 'createdAt' && field != 'updatedAt') { %>
                                <tr>
                                    <td><label for="<%=field%>"><%=field%></label></td>
                                    <td>
                                        <% var field_value = helpers.admin.get_query_data(post_data,field); %>
                                        <% if(fields[field] == 'Boolean'){ %>
                                        <select class="form-control small" id="<%= field%>" name="<%= field%>">
                                            <option value=""></option>
                                            <option <% if(field_value === 'true' || field_value === true){%> selected <%}%> value="true">Active</option>
                                            <option <% if(field_value === 'false' || field_value === false){%> selected <%}%> value="false">Disable</option>
                                        </select>
                                        <% }else{ %>
                                        <input type="text" class="form-control medium" value="<%=field_value%>" id="<%=field%>" name="<%=field%>"/>
                                        <% } %>
                                    </td>
                                </tr>
                                <% } %>
                                <% }); %>
                        <tr>
                            <td><label for="file">Excel/CSV file</label></td>
                            <td>
                                <div class="resum">
                                    <div class="btn btn-primary resum-files">Choose excel/CSV file </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><div class="box-body table-responsive result_import"></div></td>
                        </tr>
                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
