<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Add <%=mod_alias%><small><a href="<%= mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= mod_url%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=mod_alias%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <form id="FormAdd" method="post">
                    <div class="box-body table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <tbody>
                            <tr>
                                <td style="width: 200px"><label>Role</label></td>
                                <td>
                                    <% var role = helpers.admin.get_query_data(post_data,'role'); %>
                                    <select class="form-control medium" name="role">
                                        <option value=""></option>
                                        <% for(let i = 0; i<roles_list.length; i++){ %>
                                            <option <% if(role == roles_list[i].role){%> selected <%}%> value="<%=roles_list[i].role%>"><%=roles_list[i].name%> </option>
                                        <%}%>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Module</label></td>
                                <td>
                                    <% var module = helpers.admin.get_query_data(post_data,'module'); %>
                                    <select class="form-control medium" name="module" onchange="handleChangeModule(this);">
                                        <option value=""></option>
                                        <% for(let i = 0; i<modules_list.length; i++){ %>
                                        <option <% if(module == modules_list[i].name){%> selected <%}%> value="<%=modules_list[i].name%>"><%=modules_list[i].name%></option>
                                        <%}%>
                                    </select>
                                </td>
                            </tr>
                            
                            <tr>
                                <td><label>Resource</label></td>
                                <td>
                                    <select class="form-control medium" name="resource" onchange="handleChangeResource(this);">
                                        <option value=""></option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><label>Custom fields</label></td>
                                <td>
                                    <div class="form-group form-inline" id="custom_fields">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button type="submit" class="btn btn-primary">Add <%=mod_alias%></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function(){
        $("#custom_fields").sortable({placeholder: "ui-state-highlight"});
        var module_name = $('select[name="module"]').val();
        if(module_name){
            handleChangeModule('',module_name);
        }
    });
    function handleChangeModule(el,name){
        var data_post = {
            _csrf : token_value,
            module  : (name) ? name : el.value
        };
        $.ajax({
            url: base_url+'api/get_resource_by_module',
            type: 'POST',
            data: data_post,
            beforeSend : function(){
                Admin.loading_show('Loading');
            },
            success: function(res) {
                Admin.loading_hide();
                if(res.status == '1'){
                    var html = '<option value=""></option>';
                    res.data.forEach(function(item){
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $('select[name="resource"]').html(html);
                }else{
                    Admin.alert(res.data);
                }
            },
            error: function(e) {
                console.log(e);
            }
        });
    }

    function handleChangeResource(el){
        var data_post = {
            _csrf : token_value,
            module : $('select[name="module"]').val(),
            resource  : el.value
        };
        $.ajax({
            url: base_url+'api/get_fields_by_resource',
            type: 'POST',
            data: data_post,
            beforeSend : function(){
                Admin.loading_show('Loading');
            },
            success: function(res) {
                Admin.loading_hide();
                if(res.status == '1'){
                    var html = '';
                    res.data.forEach(function(item,i){
                        html += '<div class="checkbox ui-state-default">';
                        html += '<input id="checkbox_'+i+'" class="styled" type="checkbox" name="custom_fields" value="'+item+'">';
                        html += '<label for="checkbox_'+i+'">'+item+'</label>';
                        html += '</div>';
                    });
                    $('div#custom_fields').html(html);
                }else{
                    $('div#custom_fields').html(res.data);
                }
            },
            error: function(e) {
                console.log(e);
            }
        });
    }
</script>
