<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />
    <meta name="author" content="Ezbooking" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content=""/>


    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="<%=publicUrl%>admin/css/bootstrap/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="<%=publicUrl%>admin/css/bootstrap/font-awesome-4.6.3.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="<%=publicUrl%>admin/css/AdminLTE.css">

    <!-- AdminLTE Skins -->
    <link rel="stylesheet" href="<%=publicUrl%>admin/css/skins/_all-skins.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="<%=publicUrl%>admin/css/datetimepicker/datetimepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="<%=publicUrl%>admin/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <link rel="stylesheet" href="<%=publicUrl%>admin/css/jquery.alerts.css">

    <link rel="stylesheet" href="<%=publicUrl%>admin/css/datepicker3.css">

    <!-- Custom style -->
    <link rel="stylesheet" href="<%=publicUrl%>admin/css/style.css">

    <!-- jQuery 2.1.4 -->
    <script src="<%=publicUrl%>admin/js/jQuery-2.1.4.min.js"></script>
    <script src="<%=publicUrl%>admin/js/jquery-ui.min.js"></script>
    <script>
        var token_value = '<%= csrftoken %>';
        var base_url = '<%= _baseUrl %>';
        var adminUrl = '<%= adminUrl %>';
    </script>


<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <span class="logo-mini">EZB</span>
                <span class="logo-lg"><b>Admin</b>EZBooking</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="<%=_staticUrl%><%=avatar%>" class="user-image" alt="User Image">
                                <span class="hidden-xs"><%=fullname%></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="<%=_staticUrl%><%=avatar%>" class="img-circle" alt="User Image">
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="<%= _adminUrl%>/dashboard/update-profile" class="btn btn-info btn-flat">Update Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="<%= _adminUrl%>/logout" class="btn btn-info btn-flat">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <%if (role === 'admin_booking') {%>
                            <li class="dropdown">
                                <div data-toggle="dropdown" class="dropbtn">
                                    <i class="fa fa-bell" id="admin_notification"></i>
                                    <div id="notification-circle"></div>
                                </div>
                                <div class="dropdown-content" id="notification_list"></div>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </nav>

        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="<%=_staticUrl%><%=avatar%>" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p><%= fullname%></p>
                        <a href="<%= _adminUrl%>/logout"><i class="fa fa-circle text-success"></i>Logout</a>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="">
                        <a href="<%= _adminUrl%>">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <% admin_menu.forEach(function(menu){ %>
                    <% if(menu){ %>
                    <li class="">
                        <a href="<%= _baseUrl%><%=menu.link%>">
                            <i class="fa <%=menu.icon%>"></i>
                            <span><%=menu.name%></span>
                            <i class="fa <% if(menu.childs.length > 0){ %> fa-angle-left pull-right <%}%>"></i>
                        </a>
                        <% if(menu.childs.length > 0){ %>
                            <ul class="treeview-menu">
                                <% menu.childs.forEach(function(child){ %>
                                    <li> <a href="<%= _baseUrl%><%=child.link%>"><i class="fa <%=child.icon%>"></i><span><%=child.name%></span></a></li>
                                <% }); %>
                            </ul>
                        <%}%>
                    </li>
                    <% } %>
                <%}); %>
                </ul>

            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <% if (typeof(msg_success) != 'undefined' && msg_success.length > 0) { %>
                <% msg_success.forEach(function(success){ %>
                <section class="content-header">
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p><i class="icon fa fa-check"></i> <%= success%></p>
                    </div>
                </section>
                <% }); %>
            <% } %>

            <% if (typeof(msg_warning) != 'undefined' && msg_warning.length > 0) { %>
                <% msg_warning.forEach(function(warning){ %>
                <section class="content-header">
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p><i class="icon fa fa-"></i> <%= warning%></p>
                    </div>
                </section>
                <% }); %>
            <% } %>

            <% if (typeof(msg_error) != 'undefined' && msg_error.length > 0) { %>
                <% msg_error.forEach(function(error){ %>
                <section class="content-header">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p><i class="icon fa fa-ban"></i> <%= error%> </p>
                    </div>
                </section>
                <%});%>
            <% } %>

            <%- body%>

            <div class="modal fade" id="modal-alert" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
                <div hidden id="admin_branch"><%= branch %></div>
        </div>
        <footer class="main-footer">

        </footer>

        <!-- jQuery UI 1.11.4 -->
        <!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->
        <script src="<%=publicUrl%>admin/js/jquery-ui.min.js"></script>

        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script type="text/javascript">
            $.widget.bridge('uibutton', $.ui.button);
        </script>

        <!-- Bootstrap 3.3.7 -->
        <script src="<%=publicUrl%>admin/js/bootstrap.min.js"></script>

        <!-- Morris.js charts -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script> -->

        <!-- Sparkline -->
        <script src="<%=publicUrl%>admin/js/sparkline/jquery.sparkline.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="<%=publicUrl%>admin/js/jquery.alerts.js"></script>

        <script src="<%=publicUrl%>admin/js/app.min.js"></script>

        <script src="<%=publicUrl%>admin/js/moment-with-locales.min.js"></script>
        <script src="<%=publicUrl%>admin/js/bootstrap-datetimepicker.min.js"></script>
        <script src="<%=publicUrl%>admin/js/bootstrap-datepicker.min.js"></script>
        <script src="<%=publicUrl%>admin/js/admin.js"></script>

    </div>

<script src="/socket.io/socket.io.js"></script>
<script>
    $(".year").datepicker({
        format: "yyyy",
        viewMode: "years",
        minViewMode: "years"
    })
    $(".year_month").datepicker({
        format: "mm-yyyy",
        viewMode: "months",
        minViewMode: "months",
    })
    $(".year_month_day").datepicker({
        format: "dd-mm-yyyy",
        viewMode: "days",
        minViewMode: "days",
    })

    //If admin is admin booking
    if (document.getElementById("admin_notification")) {
        document.getElementById("admin_notification").addEventListener('mouseover', (_) => {
            document.getElementById("notification-circle").style.visibility = 'hidden'
        })
        const orderStatusDict = {
            '0': 'Chờ',
            '1': 'Thành công',
            '2': 'Bị từ chối',
            '3': 'Hủy bỏ',
            '4': 'Hoàn tất'
        }
        const notificationStatusValueDict = {
            '0': 'pending',
            '1': 'approved',
            '2': 'rejected',
            '3': 'cancel',
            '4': 'success'
        }
        const orders = JSON.parse(document.getElementById("admin_orders").innerHTML)
        const notificationList = document.getElementById('notification_list')
        orders.forEach((order) => {
            //Add order to notification list
            const child = document.createElement("div")
            child.id = "notification_" + notificationList.childElementCount
            child.classList.add("dropdown-element")
            child.innerHTML = `<div>Đơn hàng <strong>${order._id}</strong> </div>` +
                `<div class="notification-status">` +
                `<div>Đã đổi trạng thái thành </div>` +
                `<div class="notification-status-value notification-status-value-${notificationStatusValueDict[order.status]}">${orderStatusDict[order.status]}</div>` +
                `</div>`
            child.addEventListener('click', (_) => window.location.href = base_url + 'ezbooking/orders?_id=' + order._id)
            if (notificationList.childElementCount) notificationList.insertBefore(child, notificationList.firstChild)
            else notificationList.appendChild(child)
            while (notificationList.childElementCount > 10) notificationList.removeChild(notificationList.lastChild)
        })
        const socket = io();
        const branch = document.getElementById("admin_branch").innerHTML
        socket.on('message' + branch, message => {
            console.log('mesage receive, called')
            //Notify new order
            document.getElementById("notification-circle").style.visibility = 'visible'

            //Add order to notification list
            const child = document.createElement("div")
            child.id = "notification_" + notificationList.childElementCount
            child.classList.add("dropdown-element")
            child.innerHTML = `<div>Đơn hàng <strong>${message.order_id}</strong> </div>` +
                `<div class="notification-status">` +
                `<div>Đã đổi trạng thái thành </div>` +
                `<div class="notification-status-value notification-status-value-${notificationStatusValueDict[message.status]}">${orderStatusDict[message.status]}</div>` +
                `</div>`
            child.addEventListener('click', (_) => window.location.href = base_url + 'ezbooking/orders?_id=' + message.order_id)
            if (notificationList.childElementCount) notificationList.insertBefore(child, notificationList.firstChild)
            else notificationList.appendChild(child)
            while (notificationList.childElementCount > 10) notificationList.removeChild(notificationList.lastChild)
        })
    }
</script>
</body>
</html>