<!DOCTYPE html>
<html>
<head>
    <% include default/_head.ejs %>
</head>
<body>

<div class="loading" style="display: none;">
    <div class="loading-wrap">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px" width="30px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 50 50;"
             xml:space="preserve">
          <rect x="0" y="0" width="6" height="10" fill="white">
              <animateTransform attributeType="xml" attributeName="transform" type="scale" values="1,1; 1,3; 1,1"
                                begin="0s" dur="0.6s" repeatCount="indefinite"></animateTransform>
          </rect>
            <rect x="10" y="0" width="6" height="10" fill="white">
                <animateTransform attributeType="xml" attributeName="transform" type="scale" values="1,1; 1,3; 1,1"
                                  begin="0.2s" dur="0.6s" repeatCount="indefinite"></animateTransform>
            </rect>
            <rect x="20" y="0" width="6" height="10" fill="white">
                <animateTransform attributeType="xml" attributeName="transform" type="scale" values="1,1; 1,3; 1,1"
                                  begin="0.4s" dur="0.6s" repeatCount="indefinite"></animateTransform>
            </rect>
        </svg>
    </div>
    <div id="user_id" hidden><%= user_id %></div>
</div>

<%- body %>
</body>
</html>