<% layout('../../layout/admin'); %>

<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>List <%= mod_alias%><small><a href="<%=mod_url%>/"><i class="fa fa-refresh"></i></a></small>
    </h1>
    <ol class="breadcrumb pull-right">
        <li><a href="<%= _adminUrl%>"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><%= mod_alias%></li>
    </ol>
</section>
<div class="clearfix"></div>

<section class="content-header">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" name="from_date"  value="<%=helpers.admin.get_query_data(query_get,'from_date')%>" class="form-control datepicker" placeholder="From date">
            <input type="text" name="to_date"  value="<%=helpers.admin.get_query_data(query_get,'to_date')%>" class="form-control datepicker" placeholder="To date">
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
        <div class="right pull-right">
            <%- helpers.admin.render_menu_buttons(mod_module,mod_resource,admin_userdata)%>
        </div>
    </form>
    
</section>
<!-- Main content -->
<section class="content">
    <div>* Delete module will remove file</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form action="<%=mod_url%>/delete" class="JsDeleteForm" method="post">
                    <div class="box-header">
                        <h3 class="box-title">Total: <%= total_record%> records</h3>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <% if(helpers.admin.checkPerm('delete',admin_userdata)){ %>
                                <th class="col_checkbox">
                                    <div class="checkbox">
                                        <input id="checkbox_all" class="styled" type="checkbox">
                                        <label for="checkbox_all"></label>
                                    </div>
                                </th>
                                <%}%>
                                <% for (let i=0; i < field_keys.length; i++) { %>
                                <% var field = field_keys[i]; %>
                                <th class="sorting">
                                    <a class="sort"><%= field%></a>
                                    <div class="filter_sort">
                                        <a href="javascript:void(0);" data-filter="filter_<%= field%>" data-toggle="hide" class="filter"><i class="fa fa-filter"></i></a>
                                    </div>
                                    <br>
                                    <% if (typeof query_get[field] != undefined && query_get[field] != null) { %>
                                    <input class="filter_field filter_<%= field%> <% if (field == 'createdAt' || field == 'updatedAt') { %>datepicker<%}%>" name="<%= field%>" type="text" value="<%= query_get[field]%>">
                                    <% }else { %>
                                    <input class="filter_field filter_<%= field%> hide <% if (field == 'createdAt' || field == 'updatedAt') { %>datepicker<%}%>" name="<%= field%>" type="text" value="">
                                    <% } %>
                                </th>
                                <% } %>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if (lists.length > 0) { %>
                            <% lists.forEach(function(row) { %>
                            <tr>
                                <% if(helpers.admin.checkPerm('delete',admin_userdata)){ %>
                                <td class="col_checkbox">
                                    <div class="checkbox">
                                        <input id="checkbox<%= row._id%>" class="styled" type="checkbox" name="listViewId" value="<%= row._id%>">
                                        <label for="checkbox<%= row._id%>"></label>
                                    </div>
                                </td>
                                <%}%>
                                <% for (let i=0; i < field_keys.length; i++) { %>
                                <td>
                                    <%= helpers.admin.get_field_value(field_keys[i],row[field_keys[i]],fields[field_keys[i]])%>
                                </td>
                                <% } %>

                                <td>
                                    <%- helpers.admin.render_action_buttons(row._id,mod_module,mod_resource,admin_userdata)%>
                                </td>
                            </tr>
                            <% }); %>
                            <% } else { %>
                            <tr>
                                <td colspan="<%= field_keys.length + 10 %>">No data.</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <ul class="pagination pull-right">
                            <%- output_paging%>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
