<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Edit <%= mod_alias%><small><a href="<%=mod_url%>"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= _adminUrl%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><%=title%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <% if (typeof(valid_errors) != 'undefined' && valid_errors.length > 0) { %>
    <section class="content-header">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <% valid_errors.forEach(function(error){ %>
            <p><i class="icon fa fa-warning"></i> <%= error%> </p>
            <% }); %>
        </div>
    </section>
    <% } %>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <form class="form-horizontal" id="FormAdd" method="post">
                    <div class="box-body table-responsive">
                        <input type="hidden" class="form-control small" name="_id" value="<%=helpers.admin.get_query_data(data_edit,'_id')%>"/>
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <tbody>
                            <tr>
                                <td><label>parent_id</label></td>
                                <td>
                                    <select class="form-control small" id="parent_id" name="parent_id">
                                        <option value=""></option>
                                        <% parents.forEach(function(item){%>
                                        <option <% if(item._id == helpers.admin.get_query_data(data_edit,'parent_id')){%> selected <%}%> value="<%=item._id%>"><%=item.name%></option>
                                        <%}); %>
                                    </select>
                                </td>
                            </tr>
                            <% Object.keys(fields).forEach(function(field) { %>
                                <% if (field != '_id' && field != 'createdAt' && field != 'updatedAt' && field != 'parent_id') { %>
                                <tr>
                                    <td><label for="<%=field%>"><%=field%></label></td>
                                    <td>
                                        <% if(fields[field] == 'Boolean'){ %>
                                            <% var field_value = helpers.admin.get_query_data(data_edit,field); %>
                                            <select class="form-control small" id="<%= field%>" name="<%= field%>">
                                                <option value=""></option>
                                                <option <% if(field_value === 'true' || field_value === true){%> selected <%}%> value="true">Active</option>
                                                <option <% if(field_value === 'false' || field_value === false){%> selected <%}%> value="false">Disable</option>
                                            </select>
                                        <% }else{%>
                                            <input type="text" class="form-control medium" value="<%=helpers.admin.get_query_data(data_edit,field)%>" id="<%=field%>" name="<%=field%>"/>
                                        <% } %>
                                    </td>
                                </tr>
                                <% } %>
                            <% }); %>
                            <tr>
                                <td></td>
                                <td><button type="submit" class="btn btn-primary">Edit setting</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>