<% layout('../../layout/admin'); %>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="<%=publicUrl%>admin/css/chartjs.css">


<div class="clearfix"></div>
<section class="content-header">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" name="from_date"  value="<%=helpers.admin.get_query_data(query_get,'from_date')%>" class="form-control datepicker" placeholder="From date">
            <input type="text" name="to_date"  value="<%=helpers.admin.get_query_data(query_get,'to_date')%>" class="form-control datepicker" placeholder="To date">
        </div>
        <button type="submit" id ="get-report" class="btn btn-primary get-report">Filter</button>
    </form>
</section>

<section>
    <h3>Sơ đồ thống kê đơn đặt bàn chi nhánh <%=branch_data.name%></h3>
    <canvas id="myChart" width="400" height="400"></canvas>
    <button onclick="actions[0].handler(myChart)">Random</button>
</section>

<script>
const ctx = document.getElementById('myChart');

const labels = ['12/12/21', '13/12/21', '14/12/21'];

const data = {
    labels: labels,
    datasets: [
    {
        label: 'Tổng đơn đặt hàng',
        data: [10, 20, 30],
        backgroundColor: 'rgb(255, 99, 132)',
        stack: 'Stack 0'
    },
    {
        label: 'Tổng đơn đặt hàng thành công',
        data: [8, 15, 27],
        backgroundColor: 'rgb(75, 192, 192)',
        stack: 'Stack 1'
    },
    {
        label: 'Tổng đơn đặt hàng bị hủy',
        data: [2, 5, 3],
        backgroundColor: 'rgb(54, 162, 235)',
        stack: 'Stack 1'
    }
    ]
};

const actions = [
    {
    name: 'Randomize',
    handler(chart) {
        chart.data.datasets[0].data = [40, 50, 15];
        chart.data.datasets[1].data = [27, 34, 10];
        chart.data.datasets[2].data = [13, 16, 5];
        chart.update();
    }
    },
];
const config = {
    type: 'bar',
    data: data,
    options: {
    responsive: true,
    plugins: {
        legend: {
        position: 'top',
        },
        title: {
        display: true,
        text: 'Chart.js Bar Chart'
        }
    }
    },
};

const myChart = new Chart(ctx,config,actions);
</script>


<!-- <canvas id="myChart" width="300" height="300"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script> -->