<% layout('../../layout/admin'); %>
<!-- Content Header (Page header) -->
<section class="content-header form-inline">
    <h1>Update Password<small><a href="#" onclick="window.history.go(-1); return false;"><i class="fa fa-reply"></i></a></small></h1>
    <ol class="breadcrumb">
        <li><a href="<%= _adminUrl%>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Update Password</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <form class="form-horizontal" id="FormAdd" method="post">
                    <div class="box-body table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <tbody>
                                <tr>
                                    <td><label>Old Password</label></td>
                                    <td>
                                        <input type="password" class="form-control medium" name="old_password" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>New Password</label></td>
                                    <td>
                                        <input type="password" class="form-control medium" name="new_password" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Retype New Password</label></td>
                                    <td>
                                        <input type="password" class="form-control medium" name="retype_password" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a>
                                            <button type="submit" class="btn btn-info">Update</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
